.section-article {
    padding: 38px 0 80px 0;
    .article-wrapper {
        display: grid;
        gap: 25px;
        .article {
            position: relative;
            border-bottom: 2px solid transparent;
            display: block;
            .article__post-content {
                padding-top: 26px;
                .post-header {
                    position: relative;
                    .post-header__date {
                        position: relative;
                        width: 54px;
                        display: inline-block;
                        vertical-align: top;
                        padding: 3px 0 12px;
                        background-color: #000;
                        span {
                            color: #fff;
                            font-size: 18px;
                            line-height: 1em;
                            text-transform: uppercase;
                            display: block;
                            text-align: center;
                            font-family: playfair display, serif;
                            &:first-child {
                                font-size: 28px;
                            }
                        }
                    }
                    .post-header__info {
                        width: calc(100% - 84px);
                        padding: 0 18px 6px;
                        position: absolute;
                        left: 54px;
                        top: 50%;
                        text-align: left;
                        width: 80%;
                        max-width: 500px;
                        z-index: 2;
                        background-color: #fff;
                        padding: 0 15px 10px;
                        -webkit-transform: translateY(-50%) translateZ(0);
                        -moz-transform: translateY(-50%) translateZ(0);
                        transform: translateY(-50%) translateZ(0);
                        box-sizing: border-box;
                        .post-title {
                            margin-bottom: 5px;
                            line-height: 1em;
                            font-weight: 400;
                            a {
                                display: inline-block;
                                transition: opacity 0.4s ease-out;
                                color: #000;
                                i {
                                    display: block;
                                }
                            }
                        }
                        .post-category-author {
                            .post-author,
                            .post-category {
                                display: inline-block;
                            }
                            div {
                                font-size: 12px;
                                text-transform: uppercase;
                                padding: 0 12px;
                                position: relative;
                            }
                            .post-author {
                                padding-left: 0;
                            }
                            .post-category {
                                &::before {
                                    position: absolute;
                                    left: 0;
                                    border-radius: 50%;
                                    transform: translateY(-50%);
                                    height: 4px;
                                    width: 4px;
                                    top: 50%;
                                    background-color: #000;
                                    content: '';
                                }
                            }
                        }
                        .post-title,
                        .post-author,
                        .post-category {
                            a {
                                &:hover {
                                    opacity: 0.65;
                                }
                            }
                        }
                    }
                }
                .post-img {
                    margin-bottom: 18px;
                    position: relative;
                    a {
                        display: block;
                        &:hover {
                            filter: brightness(78%);
                            transition: 0.55s all ease-in-out;
                        }
                        img {
                            vertical-align: middle;
                            max-width: 100%;
                            height: auto;
                        }
                    }
                }
                .post-description {
                    overflow: hidden;
                    border-bottom: 2px solid #000;
                    padding-bottom: 8px;
                    .post-description__text {
                        margin: 15px 0 23px;
                    }
                    .post-description__link {
                        background-color: #000;
                        border: 1px solid #000;
                        letter-spacing: 1px;
                        position: relative;
                        outline: 0;
                        font-style: normal;
                        font-weight: 700;
                        padding: 9px 15px;
                        font-size: 12px;
                        line-height: 1.7em;
                        display:  inline-block !important;
                        width: 170px;
                        text-transform: uppercase;
                        &:hover .btn-continue-reading__hover {
                            width: 100%;
                            transition: 0.5s all ease-in-out;
                        }
                        .btn-continue-reading {
                            position: relative;
                            display: inline-block;
                            vertical-align: middle;
                            color: rgb(237, 236, 236);
                        }
                        .btn-continue-reading__hover {
                            color: rgb(255, 255, 255);
                            white-space: nowrap;
                            position: absolute;
                            top: 0;
                            left: 0;
                            overflow: hidden;
                            width: 0;
                            transition: width 0.5s;
                        }
                    }
                    .like {
                        display: inline-block;
                        vertical-align: middle;
                        svg {
                            width: 25px;
                            height: 25px;
                        }
                    }
                    .post-description__comments {
                        margin-top: 30px;
                        text-transform: uppercase;
                        font-size: 11.5px;
                        text-align: center;
                        color: #000;
                        letter-spacing: 0.5px;
                        margin: 30px 0 8px;
                    }
                }
            }
        }
    }
}
.show-more-pagination {
    text-align: center;
    clear: both;
    padding: 30px 0 0;
    .show-more-btn {
        width: 80px;
        height: 80px;
        display: table;
        margin: 0 auto;
        padding: 0;
        border-radius: 50%;
        background-color: #000;
        border: 1px solid #000;
        letter-spacing: 1px;
        color: #fff;
        position: relative;
        outline: 0;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.7em;
        text-transform: uppercase;
        transition: color 0.15s ease-out, background-color 0.15s ease-out,
            border-color 0.15s ease-out;
        cursor: pointer;
        .show-more-text {
            display: table-cell;
            vertical-align: middle;
            font-weight: 400;
            font-size: 11px;
        }
    }
}

@media (max-width: 767.98px) {
    .article-wrapper {
        grid-template-columns: 1fr;
    }
    .post-title {
        font-size: 24.5px;
    }
    
    .like {
        margin-left: calc(60px + (450 - 60) * ((100vw - 320px) / (768 - 320)));
    }
}

@media (min-width: 768px) {
    .article-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .post-title {
        font-size: 24.5px;
    }
    .like {
        margin-left: 95px;
    }
}
@media (min-width: 992px) {
    .article-wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .post-title {
        font-size: 24.5px;
    }
    .like {
        margin-left: 75px;
    }
}
@media (min-width: 1200px) {
    .post-title {
        font-size: 30px;
    }
    .like {
        margin-left: 135px;
    }
}
