@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url(/public/images/body-bg.jpg);
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.menu-area {
    background-color: black;
    .header-menu {
        .upper-menu {
            font-family: 'Arimo', sans-serif;
            height: 50px;
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            li {
                text-align: center;
                list-style: none;
                &:hover .sub-menu {
                    display: block;
                }
                .no-link, .sub-menu-no-link {
                    font-weight: 400;
                    font-size: 12px;
                    letter-spacing: 1px;
                    &:hover {
                        color: #fff;
                    }
                    &:active {
                        color: #fff;
                    }
                    cursor: pointer;
                    .item-wrapper {
                        padding: 0px 19px;
                        .item-inner {
                            position: relative;
                            &:hover .hover-text {
                                width: 100%;
                            }
                            .item-text {
                                color: #959595;
                                white-space: nowrap;
                            }
                            .hover-text {
                                color: #fff;
                                white-space: nowrap;
                                position: absolute;
                                top: 0;
                                left: 0;
                                overflow: hidden;
                                width: 0;
                                transition: width 0.5s;
                            }
                        }
                    }
                }
                .no-link {
                    .item-text {
                        line-height: 50px;
                    }
                }
                .sub-menu {
                    position: absolute;
                    display: none;
                    .wrapper {
                        ul {
                            padding: 15px 0px;
                            padding-right: 90px;
                            background: url(/public/images/dropdown-back.jpg);
                            li {
                                text-align: left;
                                .sub-menu-no-link {
                                    margin: 0px 22px;
                                    padding: 0px 4px;
                                    .item-wrapper {
                                        padding: 0px;
                                        .item-inner {
                                            .item-text {
                                                line-height: 35px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}