
.grid {
    padding: 0px 25px;
}
.logo-area {
    position: relative;
    top: 0;
    padding-right: 10px;
    padding-bottom: 50px;
    background-color: #fff;
    .top-bar {
        padding: 12px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .left-elements {
            display: grid;
            grid-template-columns: 0.01fr 0.01fr 0.01fr;
            gap: 20px;
            justify-content: start;
            .icon-top-bar {
                .link-social {
                    .icon-twitter, .icon-pinterest, .icon-vimeo {
                        display: block;
                        width: 16px;
                        height: 24px;
                        &:hover {
                            filter:opacity(0.5);
                        }
                    }
                    .icon-twitter {
                        background: url(/public/images/icon-twitter.svg) center no-repeat;
                    }
                    .icon-pinterest {
                        background: url(/public/images/icon-pinterest.svg) center no-repeat;
                    }
                    .icon-vimeo {
                        background: url(/public/images/icon-vimeo.svg) center no-repeat;
                    }
                }
            }
        }
        .right-elements {
            display: grid;
            grid-template-columns: 0.01fr 0.01fr;
            gap: 20px;
            justify-content: end;
            .icon-menu, .icon-search {
                display: block;
                width: 16px;
                height: 24px;
                cursor: pointer;
            }
            .icon-menu {
                background: url(/public/images/icon-burger.svg) center no-repeat;
            }
            .icon-search {
                background: url(/public/images/icon-search.svg) center no-repeat;
            }
        }
    }
    .logo-wrapper {
        text-align: center; 
        .logo {
            cursor: pointer;
            height: 122px;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}